<!DOCTYPE html>
<html lang="">

<head>
    <title>Gestione Carte</title>
    <link rel="stylesheet" href="./common/commonStyles.css">
    <link rel="stylesheet" href="./managementPage/managementStyles.css">

    <script type="module">
        // window.addGrouping = addGrouping;
        import * as client from './managementPage/managementClient.js'
        window.client = client;

        // import { openModal } from '../common/commonClient.js'
        // window.openModal = openModal;
        import * as common from '../common/commonClient.js'
        window.common = common;
    </script>

    <script type="text/javascript">
        window.onload = function () {
            client.loadGroupings(1);
            // common.openDialog('dialog_saveError', 'error')
        };
        
    </script>
</head>

<body>
    <%- include('components/header.ejs'); %>
    <%- include('components/modals.ejs'); %>
    <%- include('components/dialog.ejs'); %>

    <div class="page">
        <div class="pageContainer">
            <div class="settingsContainer">
                <div class="groupingsTitle subtitle">Settings</div>
                <div class="buttonContainer">
                    <!--
                        OLD Button was
                        <button onclick="common.openModal('modal_addGrouping')">Nuovo raggruppamento</button>
                    -->
                    <button id="toggle-btn" onclick="common.toggleForm(newGroupingForm)">Nuovo raggruppamento</button>
                    <button onclick="common.openModal('modal_addGroup')">Aggiungi grouping</button>

                    <select id="groupingSelected" onchange="client.loadGroupings(this.value);">
                        <% let groups = getGroupings();  %>
                        <%# console.log('groups ==> ', groups) %>
                        <% groups.forEach(group => { %>
                        <option value="<%= _.get(group, '_id') %>"><%= _.get(group, 'groupingName') %></option>
                        <% }); %>
                    </select>


                </div>
                <div id="newGroupingForm" class="form hidden">
                    <div class="form-group">
                        <label for="name">Raggruppamento:</label>
                        <input type="text" id="groupingName" name="name">
                    </div>
                    <button class="submit-btn" onclick="client.saveNewGrouping(groupingName.value)">Submit</button>
                </div>
            </div>

            <div class="groupingsTitle subtitle">Raggruppamenti selezionati</div>
            <div class="syllableContainer">
                <div class="groupingContainer" id="groupingContainer">
                </div>
            </div>
        </div>
    </div>
</body>

</html>