<!DOCTYPE html>
<html lang="">

<head>
    <title>Gestione Carte</title>
    <link rel="stylesheet" href="./common/commonStyles.css">
    <link rel="stylesheet" href="./managementPage/managementStyles.css">

    <script type="module">
        // window.addGrouping = addGrouping;
        import * as client from './managementPage/managementClient.js'
        window.client = client;

        // import { openModal } from '../common/commonClient.js'
        // window.openModal = openModal;
        import * as common from '../common/commonClient.js'
        window.common = common;
    </script>

    <script type="text/javascript">
        window.onload = function () {
            client.loadGroupings()
            // common.openDialog('dialog_saveError', 'error')
        };

    </script>
</head>

<body>
    <%- include('components/header.ejs'); %>
    <%- include('components/modals.ejs'); %>
    <%- include('components/dialog.ejs'); %>
    <%- include('components/fullPage-spinner.ejs'); %>
    <%- include('components/container-spinner.ejs'); %>

    <div class="page">
        <div class="pageContainer">
            <div class="groupingsTitle subtitle">
                <div>Impostazioni</div>
                <button onclick="common.openModal('modal_tutorial_management')" class="btn-info tutorialBtn"><i
                        class="fa-solid fa-question"></i><span>GUIDA</span></button>
            </div>
            <div class="settingsContainer">
                <div class="buttonContainer">
                    <button class="btn btn-primary" id="toggle-btn" onclick="common.toggleForm(newGroupingForm); client.checkGroupingForm(newGroupingForm, addNewGroupForm)">Nuovo
                        raggruppamento</button>
                    <button class="btn btn-primary" id="addGroupBtn"
                        onclick="common.toggleForm(addNewGroupForm); client.checkGroupingForm(newGroupingForm, addNewGroupForm)">Aggiungi gruppo</button>
                    <div class="select-container">
                        <select class="custom-select" id="groupingSelected"
                            onchange="client.loadGroupings(this.value);">
                            <option value="x" selected disabled>Seleziona un raggruppamento</option>
                        </select>
                    </div>
                    <button class="btn btn-danger" id="deleteGroupingBtn"
                        onclick="common.openModal('modal_confirmDeletion')">Elimina raggruppamento</button>
                </div>
                <div class="flexRow">
                    <!-- New grouping form -->
                    <div id="newGroupingForm" class="addGroupForm form hidden">
                        <div class="form-group">
                            <label for="name">Nome:</label>
                            <input type="text" id="groupingName" name="name">
                        </div>
                        <button class="btn btn-primary"
                            onclick="client.saveNewGrouping(groupingName.value);common.toggleForm(newGroupingForm)">Aggiungi</button>
                    </div>
                    <!-- END New grouping form -->

                    <!-- New group form -->
                    <div id="addNewGroupForm" class="addNewGroupForm hidden">
                        <div class="groupingTemplate" id="grouping_newData">
                            <div class="groupingTitle">
                                <label for="grouping_syllable">Sillaba</label>
                                <input type="text" id="grouping_syllable" placeholder="Sillaba base" required="">
                            </div>
                            <div class="groupingPairs">
                                <label for="grouping_syllables" class="bold">Possibili combinazioni</label>
                                <textarea id="grouping_syllables" required=""></textarea>
                            </div>

                            <div class="groupAdd">
                                <button class="btn btn-primary"
                                    onclick="client.addGroup(grouping_syllable, grouping_syllables); common.toggleForm(addNewGroupForm)">AGGIUNGI</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END New group form -->
            </div>

            <div class="groupingsTitle subtitle">Raggruppamenti</div>
            <div class="syllableContainer">
                <div class="groupingContainer" id="groupingContainer">
                </div>
            </div>
        </div>
    </div>
</body>

</html>