<link rel="stylesheet" href="./components/colorPicker/colorPickerStyle.css">

<div class="colorsContainer">
    <div>
        <button class="colorBtn" onclick="changeColor(<%= id %>, '#ffffff'); updatePrevCard(<%= id %>);"><div class="white"></div></button>
        <button class="colorBtn" onclick="changeColor(<%= id %>, '#000000'); updatePrevCard(<%= id %>);"><div class="black"></div></button>
        <button class="colorBtn" onclick="changeColor(<%= id %>, '#808080'); updatePrevCard(<%= id %>);"><div class="gray"></div></button>
        <button class="colorBtn" onclick="changeColor(<%= id %>, '#ff0000'); updatePrevCard(<%= id %>);"><div class="red"></div></button>
        <button class="colorBtn" onclick="changeColor(<%= id %>, '#ffa500'); updatePrevCard(<%= id %>);"><div class="orange"></div></button>
    </div>
    <div>
        <button class="colorBtn" onclick="changeColor(<%= id %>, '#ffff00'); updatePrevCard(<%= id %>); "><div class="yellow"></div></button>
        <button class="colorBtn" onclick="changeColor(<%= id %>, '#008000'); updatePrevCard(<%= id %>); "><div class="green"></div></button>
        <button class="colorBtn" onclick="changeColor(<%= id %>, '#0000ff'); updatePrevCard(<%= id %>); "><div class="blue"></div></button>
        <button class="colorBtn" onclick="changeColor(<%= id %>, '#add8e6'); updatePrevCard(<%= id %>); "><div class="lightBlue"></div></button>
        <button class="colorBtn" onclick="changeColor(<%= id %>, '#ffc0cb'); updatePrevCard(<%= id %>); "><div class="pink"></div></button>
    </div>
</div>